body 
{
  background-color: red; 
  color: black;
  font-size: normal;
  font-family: Georgia, "Trebuchet MS", Verdana, sans-serif;
}

h1, em 
{
  font-weight: bold;
  font-style: normal;
}

h1 
{
  font-size: 250%;
}
ul
{
  list-style-image: url('fussball.jpeg');
}
