body 
{
  background-color: #5EE728; 
  color: black;
  font-size: normal;
  font-family: Georgia, "Trebuchet MS", Verdana, sans-serif;
}

h1, em 
{
  font-weight: bold;
  font-style: normal;
}

h2 
{
  font-size: 500%;
}
ul
{
  list-style-image: url('fussball.png');
}
